<!doctype html>
<html lang="it">

<head>
  <%- include('../website/partials/head') %>
  <title>Error <%= statusCode %> - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../website/partials/header') %>

  <main class="first-section">
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1 class="text-primary">Error <%= statusCode %></h1>
            <p><%= message || 'An error occurred trying to load the page.' %></p>
          </div>
        </div>
    </section>
  </main>

  <%- include('../website/partials/footer') %>

</body>

</html>