<% const url = `${env.website.rootUrl}/user/change-password?key=${resettingKey}`; %>

<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('partials/head') %>
  <title>Reset password - Kettlebell Wiki</title>
</head>

<body>
  <div class="wrapper">

    <%- include('partials/header') %>

    <div class="main">
      <h1>Reset password</h1>
      <p>
        To reset your password on Kettlebell Wiki click on the button below. Before clicking on the button please note that the
        password resetting process only works on the device that strated it. If you started this process on your phone you won't
        be able to complete it on your PC or any another device (and viceversa). So make sure your are viewing this email on the
        same device that started the password resetting process.
        <%- include('partials/button', { url ,content: 'Reset password ⯈' }) %>
  
        Alternatively, copy and paste this link in your browser address bar:
        <a class="link" href="<%= url %>"><%= url %></a>
      </p>
  
      <div class="message">
        If you are not trying to change your Kettlebell Wiki login credentials
        please ignore this email. It is possible that other users entered
        their login information incorrectly.
      </div>
    </div>
  
    <%- include('partials/footer') %>
    
  </div>
</body>

</html>